body{
    background-color:#000;
    margin:0;
}

ul{
    margin:0;
}

li{
    margin:0;
}

.content-inner{
    background-color:#fff;
    display:flex;
    align-items:center;
    height:50px;
}

.header-logo{
    padding:0 20px;
    cursor:pointer;
}

.genre{
    background-color:#444;
    padding:15px 0;
}

.genre-list{
    display:flex;
    list-style:none;
}

.genre-item{
    color:#fff;
    text-decoration:none;
    padding:15px 25px;
}

.genre-item:hover{
    color:#9b9b9b;
}

.header-menu-wrap{
    display:flex;
    width:100%;
    height:50px;
}

.header-search{
    display:flex;
    align-items:center;
    font-size:15px;
    margin-left:auto;
}

.timetable{
    text-decoration:none;
    color:#244065;
    padding:16px 30px;
}

.search{
    color:#fff;
    text-decoration:none;
    padding:8px 12px;
}

.search-inner{
    background:linear-gradient(to right,#c7032d,#ff2449);
    box-shadow:0 -2px 0 #98122d inset;
    padding:8px 24px 8px 12px;
    height:34px;
    border-radius:3px;
    align-items:center;
    box-sizing:border-box;
}

.header-global-menu{
    padding:0 20px;
    cursor:pointer;
    border:0;
    background:0 0;
}

.header-global-menu-inner{
    position:relative;
    width:20px;
    height:16px;
}

.header-global-menu-inner span{
    position:absolute;
    left:0;
    width:100%;
    height:2px;
    background-color:#333;
    border-radius:2px;
}

.header-global-menu-inner span:nth-of-type(2){
    top:7px;
}

.header-global-menu-inner span:nth-of-type(3){
    top:14px;
}

.slider{
    width:100%;
    margin:0 auto;
}

.slider .slider-prev::before{
    position:absolute;
    top:50%;
    left:60px;
    z-index:998;
}

.slider .items .media{
    position:relative;
}

.slider .items .media img{
    width:100%;
    height:100%;
    margin:0 auto;
}

.slider .items .media .filter{
    position:absolute;
    top:0;
    left:0;
    width:960px;
    height:800px;
    background-color:rgba(0,0,0,0.6);
}

.slider .slick-current .filter{
    opacity:0;
}

.hero-slider-discription{
    height:150px;
    padding:30px 0;
    color:#fff;
}

.hero-slider-title{
    font-size:30px;
    font-weight:700;
    margin-bottom:10px;
}

.hero-slider-infomation{
    display:flex;
}

.hero-slider-information-image{
    height:32px;
    margin-right:10px;
}

.hero-slider-information-text{
    align-self:center;
    font-size:16px;
    font-weight:700;
}

.slick-dots li{
    position:absolute;
    bottom:250px;
    cursor:pointer;
    color:#000;
}

.slick-dots li button:hover{
    color:#fff;
}

.slick-dots li .slick-active{
    background-color:#fff;
}