body{
    background-color:#000;
    margin:0;
}

ul{
    margin:0;
    padding:0;
}

li{
    margin:0;
    list-style:none;
}

a{
    text-decoration:none;
    color:#fff;
    transition:all .3s;
}

.content-inner{
    background-color:#fff;
    display:flex;
    align-items:center;
    height:50px;
}

.header-logo{
    padding:0 20px;
    cursor:pointer;
}

.genre{
    background-color:#444;
}

.genre-list{
    display:flex;
    list-style:none;
    margin:0;
    padding:15px 0;
}

.genre-item{
    color:#fff;
    text-decoration:none;
    padding:15px 25px;
    font-size:13px;
}

.genre-item:hover{
    color:#9b9b9b;
}

.header-menu-wrap{
    display:flex;
    width:100%;
    height:50px;
}

.header-search{
    display:flex;
    align-items:center;
    font-size:15px;
    margin-left:auto;
}

.timetable{
    text-decoration:none;
    color:#244065;
    padding:16px 30px;
}

.search{
    color:#fff;
    text-decoration:none;
    padding:8px 12px;
}

.search-inner{
    background:linear-gradient(to right,#c7032d,#ff2449);
    box-shadow:0 -2px 0 #98122d inset;
    padding:8px 24px 8px 12px;
    height:34px;
    border-radius:3px;
    align-items:center;
    box-sizing:border-box;
}

.header-global-menu{
    padding:0 20px;
    cursor:pointer;
    border:0;
    background:0 0;
}

.header-global-menu-inner{
    position:relative;
    width:20px;
    height:16px;
}

.header-global-menu-inner span{
    position:absolute;
    left:0;
    width:100%;
    height:2px;
    background-color:#333;
    border-radius:2px;
}

.header-global-menu-inner span:nth-of-type(2){
    top:7px;
}

.header-global-menu-inner span:nth-of-type(3){
    top:14px;
}

.global-navigation{
    display:none;
}

.items{
    width:960px;
    max-width:960px;
    position:relative;
}

.slider .items .media{
    display:block;
}

.slider .items .media img{
    width:100%;
    height:100%;
    margin:0 auto;
}

.slider .items .media .filter{
    position:absolute;
    top:0;
    left:0;
    width:960px;
    height:760px;
    background-color:rgba(0,0,0,0.6);
}

.slider .slick-current .filter{
    opacity:0;
}

.hero-slider-discription{
    height:150px;
    padding:30px 0;
    color:#fff;
}

.hero-slider-title{
    font-size:30px;
    font-weight:700;
    margin-bottom:10px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.hero-slider-infomation{
    display:flex;
}

.hero-slider-information-image{
    height:32px;
    margin-right:10px;
}

.hero-slider-information-text{
    align-self:center;
    font-size:16px;
    font-weight:700;
}

.slick-dots li{
    bottom:250px;
    color:#000;
}

.slick-dots li button:hover{
    color:#fff;
}

.slick-dots li .slick-active{
    background-color:#fff;
}

.slick-prev{
    left:60px;
    top:30%;
    z-index:2;
    width:40px;
    height:40px;
    margin:10px;
    border-bottom:2px solid #fff;
    border-left:2px solid #fff;
    transform:rotate(45deg);
    opacity:.5;
}

.slick-prev:hover{
    opacity:1;
}

.slick-prev::before{
    content:"";
}

.slick-next{
    right:60px;
    top:30%;
    width:40px;
    height:40px;
    margin:10px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform:rotate(45deg);
    opacity:.5;
}

.slick-next:hover{
    opacity:1;
}

.slick-next::before{
    content:"";
}

.channel{
    color:#fff;
    margin:40px 115px 80px;
}

.today-channel{
    text-align:center;
}

.channel-tab{
    width:100%;
    display:flex;
    justify-content:space-between;
}

.channel-tab-item{
    width:calc(100%/3 - 15px);
    border-bottom:3px solid rgba(255,255,255,0.3);
    font-size:14px;
    font-weight:700;
    padding-bottom:15px;
    margin:0 0 30px;
    text-align:center;
}

.channel-maintab{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
}

.channel-onair-list{
    width:calc(100%/3 - 15px);
}

.channel-slider{
    padding:0;
}

.channel-slider .slick-center .today-onair-image{
    transform:scale(1.5);
}

.channel-slider .slick-center .today-onair-text{
   opacity:1;
}

.channel-onair-box{
    padding-top:50px;
}

.channel-slider .slick-slide img{
    box-sizing:border-box;
    width:100%;
}

.channel-slider .slick-prev{
    left:6px;
    width:24px;
    height:24px;
}

.channel-slider .slick-next{
    right:6px;
    width:24px;
    height:24px;
}

.slick-slide .today-onair-text{
    opacity:0;
}

.today-onair-image{
    margin-bottom:25%;
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
}

.today-onair-text{
    margin:0 -50%;
    font-size:16px;
}

.onair-date{
    color:#9b9b9b;
}










.today-onair{
    text-align:center;
    border:1px solid #fff;
    padding:15px 10px;
    width:300px;
    margin:0 auto;
    border-radius:50px;
}

.today-onair:hover{
    opacity:.6;
}

.today-onair-button{
    color:#fff;
    text-decoration:none;
    font-size:14px;
    display:inline-block;
}

.video-service{
    padding:0 115px;
    margin:40px 0;
}

.video-service .slick-prev{
    width:20px;
    height:20px;
    border-bottom:2px solid #fff;
    border-left:2px solid #fff;
    position:absolute;
    left:-20px;
    top:25%;
    display:none;
}

.video-service .slick-next{
    width:20px;
    height:20px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    position:absolute;
    top:25%;
    right:-30px;
}

.service-title{
    color:#fff;
    text-align:center;
    font-size:24px;
    margin-bottom:40px;
}

.service-slider{
    padding:0;
}

.service-list{
    padding:0 15px;
    width:234px;
}

.service-list:hover{
    opacity:.6;
}

.service-list img{
    width:100%;
    margin-bottom:10px;
}

.service-list:first-child{
    margin-left:-15px;
}

.service-list-title{
    color:#fff;
    font-size:12px;
    line-height:1.5;
}

.recommend{
    color:#fff;
}

.program-under-box{
    margin:0 100px 40px;
}

.middle-program-box{
    width:100%;
    display:flex;
}

.recommend-list-item{
    padding:0 15px;
    width:300px;
}

.recommend-list-item a{
    display:block;
}

.recommend-list-item:hover{
    opacity:.6;
}

.program-image{
    margin-bottom:10px;
    padding-top:56.25%;
    position:relative;
}

.program-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.missed-show{
    color:#fff;
}

.missed-show .slick-prev{
    width:20px;
    height:20px;
    left:100px;
}

.missed-show .slick-next{
    width:20px;
    height:20px;
    right:100px;
}

.missed-show .slick-slider::before{
    content:'';
    width:100px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    position:absolute;
    left:0;
    top:0;
    z-index:3;
}

.missed-show .slick-slider::after{
    content:'';
    width:100px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    position:absolute;
    right:0;
    top:0;
    z-index:3;
}

.recommend-slider{
    margin: 0 -15px 40px;
    padding: 0;
    position:relative;
}

.recommend-slider .slick-prev{
    width:20px;
    height:20px;
    top:25%;
    left:100px;
}

.recommend-slider .slick-next{
    width:20px;
    height:20px;
    top:25%;
    right:100px;
}

.recommend-slider::before{
    content:'';
    background-color:rgba(0,0,0,0.7);
    width:100px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:4;
}

.recommend-slider::after{
    content:'';
    background-color:rgba(0,0,0,0.7);
    width:100px;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:4;
}

.show-box{
    padding:0 15px;
}

.show-box:hover{
    opacity:.6;
}

.show-image{
    margin-bottom:10px;
    padding-top:56.25%;
    position:relative;
}

.show-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.program-box{
    color:#fff;
    padding:0 115px;
    display:flex;
    margin:0 0 40px;
}

.program-box-title{
    display:flex;
}

.program-channel-split{
    display:flex;
    width:100%;
    margin-left:15px;
}

.special-program{
    margin-right:30px;
    width:calc(33% - 15px);
}

.special-program:hover{
    opacity:.6;
}

.other-program-heading{
    font-size:18px;
}

.special-program-box img{
    width:100%;
}

.program-channel-list{
    width:calc(50% - 15px);
}

.program-channel-list:nth-of-type(1){
    margin-right:30px;
}

.program-channel-list:nth-of-type(1){
    margin-left:-15px;
}

.program-channel-list:hover{
    opacity:.6;
}

.program-channel-list a{
    display:block;
}

.program-channel-list img{
    width:100%;
}

.other-program-image{
    margin-bottom:10px;
    padding-top:56.25%;
    position:relative;
}

.other-program-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.program-channel-box{
    display:flex;
    margin-bottom:5px;
    align-items:center;
}

.program-channel{
    background-color:#444;
    font-size:12px;
    margin-right:10px;
    padding:2px 5px;
    white-space:nowrap;
}

.program-date{
    font-size:13px;
    color:#d8d8d8;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.program-discription{
    font-size:14px;
}

.rerun{
    width:66%;
}

.recommend-anime{
    color:#fff;
}

.recommend-anime .slick-slider::before{
    content:'';
    width:100px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    position:absolute;
    left:0;
    top:0;
    z-index:3;
}

.recommend-anime .slick-slider::after{
    content:'';
    width:100px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    position:absolute;
    right:0;
    top:0;
    z-index:3;
}

.recommend-anime .slick-prev{
    width:20px;
    height:20px;
    top:25%;
    left:100px;
}

.recommend-anime .slick-next{
    width:20px;
    height:20px;
    top:25%;
    right:100px;
}

.recommend-title{
    font-size:18px;
    padding:0 115px;
}

.recommend-item{
    padding:0 15px;
}

.anime-box{
    width:300px;
    padding:0 15px;
}

.anime-box:hover{
    opacity:.6;
}

.anime-image{
    margin-bottom:10px;
    padding-top:56.25%;
    position:relative;
}

.anime-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.charity-ad{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:40px 0;
}

.ad-item{
    margin:20px 15px;
}

.notice-list-wrap{
    padding:0 115px;
    margin-bottom:60px;
}

.notice-list{
    color:#cecece;
    display:flex;
    font-size:12px;
}

.notice-list-item{
    margin-right:15px;
    margin-bottom:20px;
}

.notice-link{
    color:#cecece;
}

.notice-link:hover{
    opacity:.5;
}

.tv-info{
    background-color:#fff;
    color:#333;
    padding:40px 115px 0;
}

.update-heading{
    font-size:18px;
    margin-bottom:30px;
}

.update-list-item{
    border-top:1px solid #cecece;
}

.update-list-item:nth-of-type(5){
    border-bottom:1px solid #cecece;
}

.update-list-item:hover{
    opacity:.5;
}

.update-link{
    display:flex;
    padding:10px 0;
    min-height:100px;
    align-items:center;
}

.update-meta{
    display:flex;
    width:340px;
    margin-right:10px;
    align-items:center;
}

.update-date{
    width:90px;
    margin-right:10px;
    color:#666;
    padding:0;
    font-size:14px;
}

.category-type{
    color:#333;
    background-color:#eaeaea;
    min-width:80px;
    text-align:center;
    padding:2px 10px;
}

.update-text{
    font-size:15px;
    font-weight:600;
    color:#333;
    width:calc(100% - 90px - 280px - 90px);
}

.update-image{
    margin-left:10px;
}

.update-image img{
    width:90px;
}

.read-more{
    margin:25px 0;
    font-size:12px;
    font-weight:400;
    text-align:right;
}

.read-more-link{
    color:#333; 
    position:relative;
    padding:0 0 0 20px;
}

.read-more-link:hover{
    opacity:.5;
}

.read-more-link::before{
    content:'';
    width:14px;
    height:14px;
    background-color:#444;
    border-radius:50%;
    position:absolute;
    top:0;
    left:0;
}

.read-more-link::after{
    content:'';
    width:5px;
    height:5px;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    transform:rotate(45deg);
    position:absolute;
    top:4px;
    left:2px;
    margin:auto;
}

.recent-post-heading{
    font-size:18px;
    margin:0 0 30px;
    text-align:center;
}

.recent-post-list{
    display:flex;
    flex-wrap:wrap;
}

.recent-post-item{
    width:calc(100%/3 - 21px);
    margin-right:30px;
    margin-bottom:50px;
}

.recent-post-item:nth-of-type(3){
    margin-right:0;
}

.recent-post-item:nth-of-type(n+4){
    width:calc(100%/5 - 24px);
}

.recent-post-item:last-child{
    margin-right:0;
}

.recent-post-item:hover{
    opacity:.5;
}

.recent-post-link{
    color:#333;
}

.recent-post-image-wrap{
    margin-bottom:20px;
}

.recent-post-image{
    padding-top:65%;
    position:relative;
    width:100%;
}

.recent-post-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.recent-post-category{
    display:flex;
    margin-bottom:15px;
}

.recent-post-category-type{
    background-color:#eaeaea;
    padding:2px 10px;
}

.recent-post-category-channel{
    color:#fff;
    background-color:#9b9b9b;
    padding:2px 10px;
}

.recent-post-text{
    font-size:14px;
    font-weight:600;
}

.tag-heading{
    font-size:14px;
}

.tag-list{
    display:flex;
    margin:0 -5px -10px;
}

.tag-item{
    font-size:11px;
    margin:0 5px 10px;
}

.tag-link{
    background-color:#eaeaea;
    color:#333;
    padding:8px 18px;
    border-radius:100px;
}

.tag-link:hover{
    background-color:#cecece;
}

.grid{
    display:flex; 
}

.grid-blog{
    width:calc(100%/2);
    margin-right:40px;
    margin-bottom:50px;
}

.blog-heading{
    font-size:16px;
    margin-bottom:30px;
}

.blog-wrap{
    font-size:14px;
    color:#333;
    display:flex;
}

.blog-image{
    width:50%;
    margin:0 10px;
}

.blog-image img{
    width:100%;
}

.blog-text{
    width:50%;
    font-weight:600;
    margin:0 10px;
}

.grid-news{
    margin-bottom:60px;
    margin-right:40px;
    width:calc(100%/2);
}

.grid-news .update-list-item:nth-of-type(4){
    border-bottom:1px solid #cecece;
}

.grid-news-heading{
    font-size:18px;
}

.small-update-link{
    min-height:90.625px;
    position:relative;
}

.small-update-link .update-image{
    position:absolute;
    top:20px;
    right:0;
}