body{
    background-color:#000;
    margin:0;
}

ul{
    margin:0;
}

li{
    margin:0;
}

.content-inner{
    background-color:#fff;
    display:flex;
    align-items:center;
    height:50px;
}

.header-logo{
    padding:0 20px;
    cursor:pointer;
}

.genre{
    background-color:#444;
}

.genre-list{
    display:flex;
    list-style:none;
    margin:0;
    padding:15px 0;
}

.genre-item{
    color:#fff;
    text-decoration:none;
    padding:15px 25px;
    font-size:13px;
}

.genre-item:hover{
    color:#9b9b9b;
}

.header-menu-wrap{
    display:flex;
    width:100%;
    height:50px;
}

.header-search{
    display:flex;
    align-items:center;
    font-size:15px;
    margin-left:auto;
}

.timetable{
    text-decoration:none;
    color:#244065;
    padding:16px 30px;
}

.search{
    color:#fff;
    text-decoration:none;
    padding:8px 12px;
}

.search-inner{
    background:linear-gradient(to right,#c7032d,#ff2449);
    box-shadow:0 -2px 0 #98122d inset;
    padding:8px 24px 8px 12px;
    height:34px;
    border-radius:3px;
    align-items:center;
    box-sizing:border-box;
}

.header-global-menu{
    padding:0 20px;
    cursor:pointer;
    border:0;
    background:0 0;
}

.header-global-menu-inner{
    position:relative;
    width:20px;
    height:16px;
}

.header-global-menu-inner span{
    position:absolute;
    left:0;
    width:100%;
    height:2px;
    background-color:#333;
    border-radius:2px;
}

.header-global-menu-inner span:nth-of-type(2){
    top:7px;
}

.header-global-menu-inner span:nth-of-type(3){
    top:14px;
}

.global-navigation{
    display:none;
}

.items{
    width:960px;
    max-width:960px;
    position:relative;
}

.slider .items .media{
    display:block;
}

.slider .items .media img{
    width:100%;
    height:100%;
    margin:0 auto;
}

.slider .items .media .filter{
    position:absolute;
    top:0;
    left:0;
    width:960px;
    height:760px;
    background-color:rgba(0,0,0,0.6);
}

.slider .slick-current .filter{
    opacity:0;
}

.hero-slider-discription{
    height:150px;
    padding:30px 0;
    color:#fff;
}

.hero-slider-title{
    font-size:30px;
    font-weight:700;
    margin-bottom:10px;
}

.hero-slider-infomation{
    display:flex;
}

.hero-slider-information-image{
    height:32px;
    margin-right:10px;
}

.hero-slider-information-text{
    align-self:center;
    font-size:16px;
    font-weight:700;
}

.slick-dots li{
    bottom:250px;
    color:#000;
}

.slick-dots li button:hover{
    color:#fff;
}

.slick-dots li .slick-active{
    background-color:#fff;
}

.slick-prev{
    left:60px;
    top:30%;
    z-index:2;
    width:40px;
    height:40px;
    margin:10px;
    border-bottom:2px solid #fff;
    border-left:2px solid #fff;
    transform:rotate(45deg);
    opacity:.5;
}

.slick-prev:hover{
    opacity:1;
}

.slick-prev::before{
    content:"";
}

.slick-next{
    right:60px;
    top:30%;
    width:40px;
    height:40px;
    margin:10px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform:rotate(45deg);
    opacity:.5;
}

.slick-next:hover{
    opacity:1;
}

.slick-next::before{
    content:"";
}

.channel{
    color:#fff;
}

.today-channel{
    text-align:center;
}










.today-onair{
    text-align:center;
    border:1px solid #fff;
    padding:15px 10px;
    width:300px;
    margin:0 auto;
    border-radius:50px;
}

.today-onair:hover{
    opacity:.6;
}

.today-onair-button{
    color:#fff;
    text-decoration:none;
    font-size:14px;
    display:inline-block;
}

.video-service{
    padding:0 115px;
    margin:40px 0;
}

.video-service .slick-prev{
    width:20px;
    height:20px;
    border-bottom:2px solid #fff;
    border-left:2px solid #fff;
    position:absolute;
    left:-20px;
    top:25%;
    display:none;
}

.video-service .slick-next{
    width:20px;
    height:20px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    position:absolute;
    top:25%;
    right:-30px;
}

.service-title{
    color:#fff;
    text-align:center;
    font-size:24px;
    margin-bottom:40px;
}

.service-slider{
    margin-left:-15px;
}

.service-list{
    padding:0 15px;
}

.service-list:hover{
    opacity:.6;
}

.service-list img{
    width:100%;
    margin-bottom:10px;
}

.service-list:first-child{
    margin-left:-15px;
}

.service-list-title{
    color:#fff;
    font-size:12px;
    line-height:1.5;
}

.recommend{
    color:#fff;
}

.program-channel-under-box{
    margin:0 100px 40px;
}

.middle-program-box{
    width:100%;
    display:flex;
}

.recommend-list-item{
    padding:0 15px;
    width:300px;
}

.recommend-list-item:hover{
    opacity:.6;
}

.program-image{
    margin-bottom:10px;
    width:299.8px;
    height:168px;
}

.program-image img{
    width:100%;
    height:100%;
}

.missed-show{
    color:#fff;
}

.missed-show .slick-prev{
    width:20px;
    height:20px;
    left:110px;
}

.missed-show .slick-next{
    width:20px;
    height:20px;
    right:110px;
}

.missed-show .slick-slider::before{
    content:'';
    width:100px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    position:absolute;
    left:0;
    top:0;
    z-index:3;
}

.missed-show .slick-slider::after{
    content:'';
    width:100px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    position:absolute;
    right:0;
    top:0;
    z-index:3;
}

.recommend-slider{
    position:relative;
    margin:0 -15px 40px;
    display:flex;
}

.recommend-slider .slick-cloned:nth-og-type(2){
    position:absolute;
    top:0;
    left:115px;
}

.show-box{
    padding:0 15px;
    width:300px;
}

.show-box:hover{
    opacity:.6;
}

.show-image{
    margin-bottom:10px;
    padding-top:56.25%;
    position:relative;
}

.show-image img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}





.program-box{
    color:#fff;
    padding:0 115px;
    display:flex;
    margin:0 0 40px;
}

.program-box-title{
    display:flex;
}

.program-channel-split{
    display:flex;
    width:100%;
    margin-left:15px;
}

.special-program{
    margin-right:30px;
    width:calc(33% - 15px);
}

.special-program:hover{
    opacity:.6;
}

.other-program-heading{
    font-size:18px;
}

.special-program-box img{
    width:100%;
}

.program-channel-list:nth-of-type(1){
    margin-right:30px;
}

.program-channel-list:nth-of-type(1){
    margin-left:-15px;
}

.program-channel-list:hover{
    opacity:.6;
}

.program-channel-list img{
    width:100%;
}

.program-channel-box{
    display:flex;
    margin-bottom:5px;
    align-items:center;
}

.program-channel{
    background-color:#444;
    font-size:12px;
    margin-right:10px;
    padding:2px 5px;
}

.program-date{
    font-size:13px;
    color:#d8d8d8;
}

.program-discription{
    font-size:14px;
}

.rerun{
    width:66%;
}

.recommend-anime{
    color:#fff;
}

.recommend-anime .slick-slider::before{
    content:'';
    width:100px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    position:absolute;
    left:0;
    top:0;
    z-index:3;
}

.recommend-anime .slick-slider::after{
    content:'';
    width:100px;
    height:100%;
    background-color:rgba(0,0,0,.7);
    position:absolute;
    right:0;
    top:0;
    z-index:3;
}

.recommend-anime .slick-prev{
    width:20px;
    height:20px;
    left:110px;
}

.recommend-anime .slick-next{
    width:20px;
    height:20px;
    right:110px;
}

.recommend-title{
    font-size:18px;
    padding:0 115px;
}

.anime-box{
    width:300px;
    padding:0 15px;
}

.anime-box:hover{
    opacity:.6;
}

.anime-image{
    margin-bottom:10px;
}

.anime-image img{
    height:168.9px;
}

